<footer class="footer has-background-black">

    <div class="container is-max-widescreen">
        <div class="columns is-multiline">

            <div class="column is-6-desktop is-12-mobile has-text-grey-light is-flex is-align-items-center">
                <div>
                    <p class="title is-4 has-text-grey-light">Contributing</p>
                    <div class="has-text-justified">
                        Vestibulum venenatis vulputate dui et rhoncus. Nullam mauris justo,
                        semper a
                        consequat in, rhoncus ut ex. Quisque viverra nisi vitae dignissim auctor. Mauris mattis non
                        magna
                        sed
                        fringilla. Nullam pulvinar eu quam eu tincidunt. Aenean ut dapibus mi, ultrices mollis est.
                        Aliquam
                        dapibus
                        dolor magna, sed vulputate ante lacinia faucibus. Morbi a efficitur diam.
                    </div>
                </div>
                <div class="ml-6">
                    <a href="https://github.com/ericmiguel/operational-models-encyclopedia"><i
                            class="fab fa-github fa-5x"></i></a>
                </div>
            </div>

            <div class="column is-12 mt-6">

                <p class="has-text-grey-light">
                    Page by <a href="https://github.com/ericmiguel">Eric Miguel</a>.
                    Content by
                    <a href="https://sites.google.com/ucar.edu/operational-models-encyclo">Ucar EDU</a>.
                    The source code is
                    <a href="https://opensource.org/licenses/unlicense">unlicensed</a>.
                </p>

            </div>

        </div>

    </div>


</footer>