<!DOCTYPE html>
<html {% if site.fixed_navbar %} class="has-navbar-fixed-{{ site.fixed_navbar }}" {% endif %}>
  {% include head.html %}
  <body>
    {% include header.html %}
    {% unless page.hide_hero %}
        {% include hero.html %}
    {% endunless %}
    <section class="section">
        <div class="container is-max-widescreen">
            <div class="columns">
         
                <div class="column is-8">
                    {{ content }}
                </div>

                {% if page.menubar %}
                <div class="column is-4-desktop is-4-tablet">
                    {% include menubar.html %}
                </div>
                {% endif %}
 
            </div>
        </div>
    </section>
    {% unless page.hide_footer %}
        {% include footer.html %}
    {% endunless %}
  </body>
</html>

